# Compiled Object files
*.slo
*.lo
*.o
.vs
*.tlog

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.sbr

*.idb
*.obj
*.pdb
*.ncb
*.pch
*.bsc
*.user

*.dep
*.map

*.log
*.tlog


/bin/*.dll
/bin/*.exe
/QQLogin/Debug
/packages
/360SafeDemo/Debug
/Debug
/DuiLib/Build/Debug
/FlashDemo/Debug
/GameDemo/Debug
/HttpTest/Debug
/IExplorerDemo/Debug
/ListDemo/Debug
/MenuDemo/Debug
/QQDemo/Debug
/RichListDemo/Debug
/ScrCapture/Debug
/TestApp1/Debug
/bin/QQLogin.exp
/bin/QQLogin.lib
/语法相关/VirtualTest/Debug
